/*$purple: #2f2235; //rgba(47, 34, 53, 100)
$red: #92140c; //rgba(146, 20, 12, 100)
$color3: #dcab6b; //rgba(220, 171, 107, 100)
$color4: #ecf8f8; //rgba(236, 248, 248, 100)
$color5: #ffffb3; //rgba(255, 255, 179, 100)*/

/*.header {
    background-color: #2f2235;
    color: #92140c;
    height: 75px;
}

.header .applicationName {
    font-weight: bold;
    padding-top: 25px;
    font-size: 18px;
}

.header ul {
    list-style-type: none;
    height: 75px;
}

.header li {
    background-color: #92140c;
    color: #2f2235;
    height: 100%;
    display: inline;
}*/