/* Coolors Exported Palette - coolors.co/2f2235-92140c-dcab6b-ecf8f8-ffffb3

$color1: #2f2235; //rgba(47, 34, 53, 100)
$color2: #92140c; //rgba(146, 20, 12, 100)
$color3: #dcab6b; //rgba(220, 171, 107, 100)
$color4: #ecf8f8; //rgba(236, 248, 248, 100)
$color5: #ffffb3; //rgba(255, 255, 179, 100)

*/