<div class="ingrediant" ng-controller='ingredientController'>
    <div class="col-xs-1">
    	<input class="form-control" id="ingQty" type="text" placeholder="1" ng-model="ingredient.quantity">
    </div>
    <div class="col-xs-1">
    	<input class="form-control" id="ingUnit" type="text" placeholder="Tbsp" ng-model="ingredient.unit">
    </div>
    <div class="col-xs-10">
    	<input class="form-control" id="ingNane" type="text" placeholder="Garlic powder" ng-model="ingredient.name">
    </div>
</div>