<div class="recipeEdit" ng-controller="recipeController">


	<div id="recipe-form" class="row">
		<div class="col-sm-12">
			<label>Title</label>
            <input class="form-control" id="title" type="text" placeholder="Garden fresh speghetti" ng-model="recipeForm.title">
		</div>

		<div class="col-sm-8">
			<label>Description</label>
            <textarea class="form-control" id="decription" type="text" placeholder="My grandmothers secret speghetti recipe." rows="3" ng-model="recipeForm.description"></textarea>
		</div>

		<div class="col-sm-4 col-md-3">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/500x500" >
			</a>
		</div>

		<div class="col-sm-8 clearfix">
			<label>Ingredients</label>

			<div class="col-sm-12">
                <ingredient ingredientData="ingredient" ng-repeat="ingredient in recipeForm.ingredients"></ingredient>
            </div>

		</div>

		<div class="col-sm-8">
			<label>Instructions</label>
			<div ng-repeat="instruction in recipeForm.instructions">

                <div class="col-xs-11">
                	<textarea rows="2" class="form-control" id="instStep" type="text" placeholder="Garlic powder" ng-model="instruction.text" ng-change="changeInstruction($index)"></textarea>

                </div>
                <div class="col-xs-1">
                    <button ng-show="instruction.text" ng-click="recipeForm.ingredients.splice($index,1)">[Remove]</button>
                </div>
            </div>
		</div>

        <button ng-click="saveRecipe()">SAVE</button>
        <button ng-click="get()">GET</button>
	</div>
</div>
